<!-- Main content -->
<div>
    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <main role="main">

        <div class="standard-div">

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="images/tennis-courts.jpeg">
                                <div class="card-body">
                                    <p class="card-text">Come play on our beautiful courts! Our courts are state of the art and are regularly maintained to keep your game on point!</p>
                                    <% if (loggedIn) { %>
                                        <a href="reserve-court" class="btn btn-primary">Reserve Court</a>
                                    <% } else { %>
                                        <a href="signIn" class="btn btn-primary">Reserve Court</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="images/tennis-lesson.jpeg">
                                <div class="card-body">
                                    <p class="card-text">Come take some lessons with our talented fleet of coaches! Whether you are just starting out or are a professional, you can always level up!</p>
                                    <% if (loggedIn) { %>
                                        <a href="reserve-lesson" class="btn btn-primary">Reserve Lesson</a>
                                    <% } else { %>
                                        <a href="signIn" class="btn btn-primary">Reserve Lesson</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="images/tennis-store.jpeg">
                                <div class="card-body">
                                    <p class="card-text">Need some gear? We've got you covered. Our tennis store is highly equipped with a range of products to bring your game higher and higher!</p>
                                    <a href="shop" class="btn btn-primary">Tennis Store</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
</div>