<div class ="form-data">
    <form action ="/items/create" method ="POST">
        <label for ="companyName">  Company Name </label>
        <input type = "text" name ="companyName" id ="companyName" autofocus required>

        <label for ="model"> Model </label>
        <input type = "text" name ="model" id ="model" autofocus required>

        <label for ="count"> count </label>
        <input type = "number" name ="count" id ="count" required>

        <label for ="price"> Price </label>
        <input type = "number" name ="price" id ="price" required>

        <label for ="image"> Image </label>
        <input type = "text" name ="image" id ="image" required>

        <label for ="itemId"> Item Id </label>
        <input type = "text" name ="itemId" id ="itemId" required>

        <button class="btn btn-lg btn-primary btn" type ="submit"> Create </buttton>

    </form>
</div>