<div>
    <link rel="stylesheet" href="css/reserve-court.css">
    <!-- Lesson Reservation Form -->
    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <script>
        var passedDates = '<%- JSON.stringify(dates) %>';
    </script>

    <form class="signin" autocomplete="off">
        <fieldset class="border" style="margin:5%;">

            <legend class="w-auto">New Lesson Reservation</legend>

            <div class="row">

                <div class="form-group row col-sm-12 col-md-8 col-lg-7">
                    <div class="col">
                        <label for="durationDropdown" class="col-form-label">How long?</label>
                    </div>
                    <div class="col">
                        <select id="durationDropdown" name="durationDropdown" class="form-control" onchange="changedDurationDropdown()">
                            <option value="-1" selected>Pick one...</option>\
                            <option value="2">60 Minutes</option>
                            <option value="4">120 Minutes</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-sm-12 col-md-8 col-lg-7">
                    <div class="col">
                        <label for="dateField" class="col-form-label">Which day?</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="dateSelect" onchange="changedDateSelect()">
                            <option value="-1" selected>Pick a day...</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-sm-12 col-md-8 col-lg-7">
                    <div class="col">
                        <label for="timeDropdown" class="col-form-label">Start time:</label>
                    </div>
                    <div class="col">
                        <select id="timeDropdown" name="timeDropdown" class="form-control">
                            <option value="-1" selected>Pick a time...</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-8 col-lg-7">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>

        </fieldset>
    </form>
    <script src="js/reserve-lesson.js"></script>
</div>