<div>
    <link rel="stylesheet" href="css/signuperr.css">
    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <form  method ="post" action ="/signup"  onsubmit="return validateForm()" id="mainForm" novalidate>

        <fieldset class="border">
            <h3 class="w-auto1">Sign Up</h3>
            <div class="hero-bg1">
                <div id="divinvalidError" class="invisible errorMessage"> </div>
                <div class="form-group row col-lg">
                    <div class="col-sm-4">
                        <label for="txtFirstname" class="col-form-label">
                            <span>First Name:</span>

                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="txtFirstname" name="first" required class="form-control" placeholder="First Name"
                            required>
                    </div>
                </div>

                <div class="form-group row col-lg">
                    <div class="col-sm-4">
                        <label for="txtLastname" class="col-form-label">
                            <span>Last Name:</span>

                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="txtLastname" name="last" required class="form-control" placeholder="Last Name"
                            required>
                    </div>
                </div>

                <div class="row form-group  col-lg">
                    <label for="txtusername" class="col-sm-4 col-form-label"> UserName:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtusername" name="username" required class="form-control" placeholder="Jamie">
                    </div>
                </div>

                <div class="col-lg">
                    <fieldset class="border form-group">

                        <legend class="col-sm-4 col-form-label">Gender:</legend>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="radio" id="rbMale" name="gender" value="male" class="form-check-input">
                                <label for="rbMale" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="rbFemale" name="gender" value="female" class="form-check-input">
                                <label for="rbFemale" class="form-check-label">Female</label>
                            </div>
                            <div class="form-check">

                                <input type="radio" id="rbOther" name="gender" value="other" class="form-check-input">
                                <label for="rbOther" class="form-check-label">Other</label>
                            </div>
                        </div>


                    </fieldset>
                </div>
                <div class="row form-group  col-lg">
                    <label for="txtAddress" class=" col-sm-2 col-form-label"> Address:</label>

                    <div class="col-md-4 col-lg-4">
                        <input type="txt" id="txtAddress" name="Street" class="form-control" placeholder="Street">
                    </div>


                    <div class="col">
                        <input type="txt" id="txtCity" name="City" class="form-control" placeholder="City">
                    </div>

                    <div class="col">
                        <input type="txt" id="txtState" name="State" class="form-control" placeholder="State">
                    </div>

                    <div class="col">
                        <input type="txt" id="txtZipcode" name="zipCode" class="form-control" placeholder="Zipcode" pattern=[0-9]{5}>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtDOB" class="col-sm-4 col-form-label"> Birthday:</label>
                    <div class="col-sm-6">
                        <input type="date" id="txtDOB" name="DOB" required class="form-control" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="row form-group  col-lg">
                    <label for="txtEmail" class="col-sm-4 col-form-label"> Email:</label>
                    <div class="col-sm-8">
                        <input type="emai" id="txtEmail" name="email" required class="form-control" placeholder="name@example.com">
                    </div>
                </div>


                <div class="row form-group  col-lg">
                    <label for="txtpassword" class="col-sm-4 col-form-label"> Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="txtpassword" name="password" required class="form-control" placeholder="password">
                        <div id="divconditionError" class="invisible errorMessage"> </div>
                    </div>
                </div>

                <div class="row form-group  col-lg">
                    <label for="txtconpassword" class="col-sm-4 col-form-label"> Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="txtconpassword" name="conpassword" required class="form-control"
                            placeholder="password">
                        <div id="divpasswordError" class="invisible errorMessage"> </div>
                    </div>

                </div>



                <div class="col-lg">
                    <fieldset class="border form-group">

                        <legend class="col-sm-4 col-form-label">Security Questions:</legend>
                        <div class="row form-group  col-lg ">

                            <select name="SQuestion1" id="txtQuestion01" class="col-sm-8 col-form-label" onchange="updateinputView1()">
                                <option value="maybe0" >Question 1</option>
                                <option value="maybe1" name ="maybe1">What was your first pet's name?</option>
                                <option value="maybe2">What's your favorite color?</option>
                                <option value="maybe3">What did your favorite food? </option>
                            </select>
                            <div id="divsecurityError1" class=" col-sm-8 invisible">
                                <input type="text" id="txtQuestion1" name="Question1" required class="form-control">
                            </div>

                        </div>
                        <div class="row form-group  col-lg ">

                            <select name="SQuestion2" id="txtQuestion02" class="col-sm-8 col-form-label" onchange="updateinputView2()">
                                <option value="maybe0">Question 2</option>
                                <option value="maybe1" name ="maybe1">What is your mother's maiden name?</option>
                                <option value="maybe2">What's your first pet?</option>
                                <option value="maybe3">Where were you born? </option>
                            </select>
                            <div id="divsecurityError2" class=" col-sm-8 invisible">
                                <input type="text" id="txtQuestion2" name="Question2" required class="form-control">
                            </div>

                        </div>
                        <div class="row form-group  col-lg ">

                            <select name="SQuestion3" id="txtQuestion03" class="col-sm-8 col-form-label" onchange="updateinputView3()">
                                <option value="maybe0">Question 3</option>
                                <option value="maybe1" name ="maybe1">What was the name of your high school?</option>
                                <option value="maybe2">What country would you like to visit? </option>
                                <option value="maybe3">What year were you born ? </option>
                            </select>
                            <div id="divsecurityError3" class=" col-sm-8 invisible">
                                <input type="text" id="txtQuestion3" name="Question3" required class="form-control">
                            </div>

                        </div>

                    </fieldset>
                </div>


        </fieldset>
        <img src='images/part2.jpg' alt="tennis pic">

        <div class="low form-group row col-lg">
            <div class="col-sm-12">
                <button type="submit" class=" btn btn-success btn-lg">Submit</button>
                <button type="reset" class="  btn btn-primary btn-lg">Reset</button>
            </div>
        </div>
    </form>

    <script src="js/signup.js"></script>
</div>

<!--“Jonas Wood - Four Majors: Unbound: Online Auction New York Wednesday, October 30, 2019 Lot 26.” Phillips, www.phillips.com/detail/jonas-wood/NY000619/26. -->