@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container{
  width:100%;
  height: 50%;
  
  justify-content:center;
  
  
}

.calendar{
  width:80%;
  height:100%;
  background:aliceblue;
  color: #00224B;
  box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
  
}

.month{
  height:12%;
  background-color: aliceblue;
  display:flex;
  font-weight: 900;
  justify-content: space-between;
  align-items:center;
  text-align: center; 
  padding:2rem 2.5rem 2rem 2.5rem;
}
.previous {
  background-color: #04AA6D;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.next {
  background-color: #04AA6D;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.round {
  border-radius: 50%;
}
.month p{
  font-size: 1rem;
}
.date{
  font-size:1.8rem;
  
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align:center;
}

.weekdays{
  width:100%;
  height:5%;
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  
}

.weekdays div{
  font-size:1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  width:calc(100%/7);
  display:flex;
  justify-content: center;
  align-items: center;
}

.days{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  align-items: left;
 
  
}
.days div{
  font-size:1 rem;
  
  width:calc(100%/7);
  
  height: 7rem;
  display:flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  transition: backgroud-color 0.2s;
  
}

 .event{
   font-size: 0.8rem;
   border:0.1rem solid black;
   background-color: lightblue;
   display: block;
 }

.days .month-day{
  text-align:left;
  display: block;
}
.days .today{
  display: block;
}

.days .month-day:hover:not(.today){
  background-color: #04AA6D;
  border:0.2rem solid black;
  cursor:pointer;
}

.prev-date,
.next-date{
  opacity: 0.5;
}

.today{
  background-color:#ffAE42 ;
}

.days .month-day .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

 .days .month-day .modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 5px;
  border: 1px solid #888;
  width: 80%; 
}

.days .month-day .modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
}

.days .month-day .modal .modal-content .close:hover,
.days .month-day .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}