<div class ="form-data">

    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <form action ="/items/create" method ="POST">
        <label for ="manufacturer">Manufacturer</label>
        <input type = "text" name ="manufacturer" id ="manufacturer" autofocus required>

        <label for ="model">Model</label>
        <input type = "text" name ="model" id ="model" required>

        <label for ="price">Price</label>
        <input type = "number" name ="price" id ="price" required>

        <label for ="image">Image URL</label>
        <input type = "text" name ="image" id ="image" required>

        <label for ="quantity">Quantity</label>
        <input type="number" name ="quantity" id ="quantity" required>

        <button class="btn btn-lg btn-primary btn" type ="submit">Create</button>

    </form>
</div>