<div>
    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <form method = "POST" action ="/users/${currentUser._id}/change-password" class="change-password">
        <fieldset class="border">

            <div class="hero-bg">

                <% if (loggedIn) { %>

                <h2 class="w-auto">Change Password</h2>

                <div class="form-group row col-lg">
                    <div class="col-sm-12">
                        <label for="newPassword" class="col-form-label">
                            <span>New Password:</span>

                        </label>
                    </div>
                    <div class="col-sm-12">
                        <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required>
                    </div>
                </div>

                <div class="form-group row col-lg">
                    <div class="col-sm-12">
                        <label for="confirmNewPassword" class="col-form-label">
                            <span>Confirm New Password:</span>

                        </label>
                    </div>
                    <div class="col-sm-12">
                        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" placeholder="Confirm New Password" required>
                    </div>
                </div>

                <div class="bottom form-group row col-lg">
                    <div class="col-sm-12">
                        <div class="part2">
                            <button type="submit" id='btn' class="btn-info btn-block">Confirm Changes</button>
                        </div>
                        <div class="part2">
                            <button onclick="document.location='view-profile'" class=" btn-primary btn-block ">Cancel</button>
                        </div>
    
                    </div>
                </div>

                <% } else { %>

                <h2 class="w-auto">You're not signed in!</h2>
                <a href="/users/signin">Sign in here</a>

                <% } %>

            </div>

        </fieldset>
    </form>
</div>