<div>
    <link rel="stylesheet" href="css/signuperr.css">
    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <form  method ="post" action ="/users/create"  onsubmit="return validateForm()" id="mainForm" novalidate>

        <fieldset class="border">
            <h3 class="w-auto1">Sign Up</h3>
            <div class="hero-bg1">
                <div id="divInvalidError" class="invisible errorMessage"> </div>
                <div class="form-group row col-lg">
                    <div class="col-sm-4">
                        <label for="txtFirstName" class="col-form-label">
                            <span>First Name:</span>

                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="txtFirstName" name="first" required class="form-control" placeholder="First Name"
                            required>
                    </div>
                </div>

                <div class="form-group row col-lg">
                    <div class="col-sm-4">
                        <label for="txtLastName" class="col-form-label">
                            <span>Last Name:</span>

                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="txtLastName" name="last" required class="form-control" placeholder="Last Name"
                            required>
                    </div>
                </div>

                <div class="row form-group  col-lg">
                    <label for="txtUsername" class="col-sm-4 col-form-label"> Username:</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtUsername" name="username" required class="form-control" placeholder="Username">
                    </div>
                </div>

                <div class="col-lg">
                    <fieldset class="border form-group">

                        <legend class="col-sm-4 col-form-label">Gender:</legend>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="radio" id="rbMale" name="gender" value="male" class="form-check-input">
                                <label for="rbMale" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="rbFemale" name="gender" value="female" class="form-check-input">
                                <label for="rbFemale" class="form-check-label">Female</label>
                            </div>
                            <div class="form-check">

                                <input type="radio" id="rbOther" name="gender" value="other" class="form-check-input">
                                <label for="rbOther" class="form-check-label">Other</label>
                            </div>
                        </div>


                    </fieldset>
                </div>
                <div class="row form-group  col-lg">
                    <label for="txtAddress" class=" col-sm-2 col-form-label"> Address:</label>

                    <div class="col-md-4 col-lg-4">
                        <input type="txt" id="txtAddress" name="street" class="form-control" placeholder="Street">
                    </div>


                    <div class="col">
                        <input type="txt" id="txtCity" name="city" class="form-control" placeholder="City">
                    </div>

                    <div class="col">
                        <input type="txt" id="txtState" name="state" class="form-control" placeholder="State">
                    </div>

                    <div class="col">
                        <input type="txt" id="txtZipcode" name="zipcode" class="form-control" placeholder="Zipcode" pattern=[0-9]{5}>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="txtDOB" class="col-sm-4 col-form-label"> Birthday:</label>
                    <div class="col-sm-6">
                        <input type="date" id="txtDOB" name="dob" required class="form-control" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="row form-group  col-lg">
                    <label for="inputEmail" class="col-sm-4 col-form-label"> Email:</label>
                    <div class="col-sm-8">
                        <input type="email" id="inputEmail" name="email" required class="form-control" placeholder="Email Address">
                    </div>
                </div>


                <div class="row form-group  col-lg">
                    <label for="inputPassword" class="col-sm-4 col-form-label"> Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="inputPassword" name="password" required class="form-control" placeholder="Password">
                        <div id="divConditionError" class="invisible errorMessage"> </div>
                    </div>
                </div>

                <div class="row form-group  col-lg">
                    <label for="txtConfirmPassword" class="col-sm-4 col-form-label">Confirm Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="txtConfirmPassword" name="confirmPassword" required class="form-control"
                            placeholder="Password">
                        <div id="divPasswordError" class="invisible errorMessage"> </div>
                    </div>

                </div>

                <div class="col-lg">
                    <fieldset class="border form-group">

                        <legend class="col-sm-4 col-form-label">Security Questions:</legend>
                        <div class="row form-group  col-lg ">

                            <select name="sQuestion1" id="txtSQuestion1" class="col-sm-8 col-form-label" onchange="updateinputView1()">
                                <option value="maybe0" >Question 1</option>
                                <option value="maybe1" name ="maybe1">What was your first pet's name?</option>
                                <option value="maybe2">What's your favorite color?</option>
                                <option value="maybe3">What did your favorite food? </option>
                            </select>
                            <div id="divSecurityError1" class=" col-sm-8 invisible">
                                <input type="text" id="txtSAnswer1" name="sAnswer1" required class="form-control">
                            </div>

                        </div>
                        <div class="row form-group  col-lg ">

                            <select name="sQuestion2" id="txtSQuestion2" class="col-sm-8 col-form-label" onchange="updateinputView2()">
                                <option value="maybe0">Question 2</option>
                                <option value="maybe1" name ="maybe1">What is your mother's maiden name?</option>
                                <option value="maybe2">What's your first pet?</option>
                                <option value="maybe3">Where were you born? </option>
                            </select>
                            <div id="divSecurityError2" class=" col-sm-8 invisible">
                                <input type="text" id="txtSAnswer2" name="sAnswer2" required class="form-control">
                            </div>

                        </div>
                        <div class="row form-group  col-lg ">

                            <select name="sQuestion3" id="txtSQuestion3" class="col-sm-8 col-form-label" onchange="updateinputView3()">
                                <option value="maybe0">Question 3</option>
                                <option value="maybe1" name ="maybe1">What was the name of your high school?</option>
                                <option value="maybe2">What country would you like to visit? </option>
                                <option value="maybe3">What year were you born ? </option>
                            </select>
                            <div id="divSecurityError3" class=" col-sm-8 invisible">
                                <input type="text" id="txtSAnswer3" name="sAnswer3" required class="form-control">
                            </div>

                        </div>

                    </fieldset>
                </div>


        </fieldset>
        <img src='/images/part2.jpg' alt="tennis pic">

        <div class="low form-group row col-lg">
            <div class="col-sm-12">
                <button type="submit" class=" btn btn-success btn-lg">Submit</button>
                <button type="reset" class="  btn btn-primary btn-lg">Reset</button>
            </div>
        </div>
    </form>

    <script src="/js/signup.js"></script>
</div>

<!--“Jonas Wood - Four Majors: Unbound: Online Auction New York Wednesday, October 30, 2019 Lot 26.” Phillips, www.phillips.com/detail/jonas-wood/NY000619/26. -->